<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Todos</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}

        <h3>{{ error }}</h3>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit", value="Update">
        </form>
        <br>
        <form action="{% url 'complete_todos' todo.id %}" method="post">
            {% csrf_token %}
            <input type="submit", value="Complete">
        </form>
        <br>
        <form action="{% url 'delete_todos' todo.id %}" method="post">
            {% csrf_token %}
            <input type="submit", value="Delete">
        </form>

    {% endblock %}
</body>
</html>